project_test/target/classes/project_test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:zoho-crm="http://www.mulesoft.org/schema/mule/zoho-crm" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/zoho-crm http://www.mulesoft.org/schema/mule/zoho-crm/current/mule-zoho-crm.xsd">
 	
    <sfdc:config doc:name="Salesforce" name="Salesforce" password="Apachertr!9" securityToken="qQIu8GOhAKXxrcsvkWAagVYY4" username="rohit.poojary@eaisystems.com">
        <sfdc:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE"/>
    </sfdc:config>
    <db:mysql-config database="company" doc:name="MySQL Configuration" host="localhost" name="MySQL_Configuration" password="eaisystems" port="3306" user="root"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9098" doc:name="HTTP Listener Configuration"/>
    <sfdc:config-with-oauth name="Salesforce__OAuth_v2_0" consumerKey="3MVG9ZL0ppGP5UrCp87kY3BuNXQb56Xjn_9RQmQ.wdeOlSRuoupNnNQEdkT.75QyGK3JngLFTCl_bGL8OidBz" consumerSecret="4652070064724976625" doc:name="Salesforce: OAuth v2.0">
        <sfdc:oauth-callback-config domain="localhost" localPort="9098" path="callback"/>
    </sfdc:config-with-oauth>
    <zoho-crm:config name="ZohoCrm__Configuration" authtoken="5a385636f1510d4999c64903b9bdce95" doc:name="ZohoCrm: Configuration"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <batch:job name="salesforce-to-database-Batch">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        
        <batch:process-records>
            <batch:step name="queryExistingContactInDbStep">
                <dw:transform-message doc:name="Transform SFDC fields to DB fields" metadata:id="a9c0c674-90be-40f3-985e-e1d76c4bbfab">
                    <dw:input-payload doc:sample="sample_data\SfdcContactMap_1.dwl"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"email" : payload.Email,
	"first_name" : payload.FirstName,
	"last_name" : payload.LastName,
	"last_modified" : payload.LastModifiedDate
}]]></dw:set-payload>
                </dw:transform-message>

                <enricher doc:name="Message Enricher">
                    <db:select config-ref="MySQL_Configuration" doc:name="Check existence in Database">
                        <db:parameterized-query><![CDATA[SELECT first_name,last_name,email FROM contact WHERE email=#[payload.email]]]></db:parameterized-query>


                    </db:select>
                    <enrich source="#[payload.size() > 0]" target="#[recordVars['exists']]"/>
                    <enrich source="#[payload]" target="#[recordVars['dbRecord']]"/>
                </enricher>
            </batch:step>
            <batch:step name="upsertContactInDbStep">
            	<choice doc:name="Choice">
                    <when expression="#[recordVars['exists']==false]">
                        <db:insert config-ref="MySQL_Configuration" doc:name="Create contact">
                            <db:parameterized-query><![CDATA[INSERT INTO contact (first_name, last_name, email) VALUES (#[payload.first_name],#[payload.last_name],#[payload.email])]]></db:parameterized-query>
                        </db:insert>
                    </when>
                    <when expression="#[recordVars['exists']==true and recordVars['dbRecord'] != null]">
                        <db:update config-ref="MySQL_Configuration" doc:name="Update Contact">
                            <db:parameterized-query><![CDATA[UPDATE contact SET first_name=#[payload.first_name],last_name=#[payload.last_name] WHERE email = #[payload.email]]]></db:parameterized-query>

                        </db:update>
                    </when>
                    <otherwise>
                        <logger doc:name="Logger" level="INFO" message="Error with #[payload.email] contact"/>
                    </otherwise>
                </choice>
            </batch:step>                        
        </batch:process-records>
        <batch:on-complete>
            <logger doc:name="Log completion" level="INFO" message="Batch sf->db has finished"/>
        </batch:on-complete>
    </batch:job>
    <flow name="salesforce-to-databaseFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <sfdc:authorize config-ref="Salesforce__OAuth_v2_0" accessTokenUrl="https://login.salesforce.com/services/oauth2/token" authorizationUrl="https://login.salesforce.com/services/oauth2/authorize" display="PAGE" doc:name="Salesforce"/>
        <sfdc:query config-ref="Salesforce__OAuth_v2_0" query="SELECT Email,FirstName,LastModifiedDate,LastName FROM Contact" doc:name="Salesforce"/>
        <batch:execute name="salesforce-to-database-Batch" doc:name=""/>
    </flow>
    <flow name="project_testFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="5" startDelay="2" timeUnit="MINUTES"/>
            <db:select config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT email,first_name,last_name FROM contact]]></db:parameterized-query>
            </db:select>
        </poll>
        <foreach doc:name="For Each">
            <dw:transform-message metadata:id="fda7f91e-c140-40c9-a8be-e2206f6c0ba6" doc:name="Transform Message">
                <dw:input-payload/>
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"First Name": payload.first_name,
	"Last Name": payload.last_name,
	Email: payload.email
}]]></dw:set-payload>
            </dw:transform-message>
            <file:outbound-endpoint path="D:\Users\One\Desktop\abc" outputPattern="project.txt" connector-ref="File" responseTimeout="10000" doc:name="File"/>
            <zoho-crm:insert-single config-ref="ZohoCrm__Configuration" module="Contacts" doc:name="ZohoCrm"/>
        </foreach>
        <logger message="complete" level="INFO" doc:name="Logger"/>
    </flow>

    
</mule>